*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body
{
	background-color: #FFFFFF;
	font-family: comic sans ms, Trebuchet ms;
	margin: 0;
	width: 100%;
}
ul
{
	list-style-type: none;
}
header
{
	display: flex;
	position: relative;
	z-index: 4;
	width: 100%;
	margin-top: 0px;
	background:linear-gradient(#86bedf, #FFFFFF);
}
.menu
{
	display: inline-flex;
	position: relative;
	width: 100%;
	text-decoration: none;
	justify-content: space-evenly;
	z-index: 5;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 20px;
	padding-left: 22px;
	font-size: 1.4em;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
	overflow: hidden;
}
.menu a{
	color: #000000;
	transition: all 0.5s linear;
	background-size: 0 100%;
	padding-bottom: 7px;
}
.logo{
	float: left;
}
.menu a:hover{
	color: #1D7BB3;
	background: linear-gradient(to top, rgb(29, 123, 179) 0%, rgba(29, 123, 179) 4px, transparent 5px) no-repeat;
	background-size: 100% 100%;
}
.slider
{
	overflow: hidden;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	padding-bottom: 100px;
	width: 400px;
}
@keyframes gliss {
	0%{
		transform: translateX(0px);
	}
	10%{
		transform: translateX(0px);
	}
	33%{
		transform: translateX(-400px);
	}
	43%{
		transform: translateX(-400px);
	}
	66%{
		transform: translateX(-800px);
	}
	76%{
		transform: translateX(-800px);
	}
	100%{
		transform: translateX(0);
	}
}
.slides
{
	width: calc(500px *3);
	animation: gliss 9s infinite;
	padding-right: 45px;
	padding-left: 45px;
	border-radius: 30px;
}
.slide
{
	float: left;
	border-radius: 30px;
}
.reseaux::after{
	content: "bla bla";
	background: linear-gradient(#1D7BB3, #FFFFFF);
}
nav a
{
	text-decoration: none;
	color: black;
}
@font-face {
	font-family: "Montserrat";
	src: url(Montserrat-Regular.ttf);
}
@font-face {
	font-family: "Protos";
	src: url(Protos.otf);
}
hr
{
	display: block;
	clear: both;
  height: 3px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.titre
{
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: 8vw;
	margin-bottom: 50px;
	font-family: 'Protos', comic sans ms, Trebuchet ms;
	font-size: 2.7em;
	color: #1D7BB3;
	letter-spacing: 16px;
}
.soustitre
{
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 3vw;
	font-size: 1.7em;
	font-family: "Montserrat";
}
.reseaux
{
	width: 100%;
	height: 500px;
}
footer
{
	background: linear-gradient(#FFFFFF,#1D7BB3);
	text-align: center;
	margin-top: 300px;
	padding-bottom: 40px;
	padding-top: 40px;

}
section article p
{
	width: 60%;
	text-align: justify; 
}
.facebook
{
	border-radius: 50%;
}
.facebook:hover{
	animation-name: babal;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes babal{
	0%{
		border-radius: 35%;
		height: 80px;
		width: 80px;
	}
	50%{
		border-radius: 22%;
		height: 85px;
		width: 85px;
	}
	100%{
		border-radius: 15%;
		height: 90px;
		width: 90px;
	}
}
.smartphone
{
	float: right;
	position: relative;
}
article
{
	margin: 50px;
	padding: 60px;
}
article ::before {
	content: "";
}
article ::after {
	content: "";
}
.appweb
{
	float: left;
	margin-top: 150px;
}
.appliweb
{
	justify-content: right;
	margin-top: 50px;
	width: auto;
}
.appliwebtitle
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.mobileapp
{
	float: right;
}
section aside h1
{
	display: flex;
	text-align: center;
	margin: auto;
	height: auto;
	align-items: center;
}
section aside
{
	display: flex;
	align-items: center;
	text-align: center;
	margin: auto;
}

.faceb
{
	margin-top: 150px;
}
.insta
{
	margin-top: 150px;
}
.twitter
{
	margin-top: 150px;
}
.boutondev {
	display: grid;
}
.devis
{
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 26px;
	font-family: comic sans ms;
	border-radius: 18px;
	padding: 25px;
	background-color: #1D7BB3;
	color: #00ff15;
	letter-spacing: 8px;
	transition: all 0.2s linear;
}
.devis:hover{
	background: #000000;
		color: #18C0EA;
		font-size: 30px;
	/*animation-name: coco;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;*/
}
/*@keyframes coco{
	0%{
		background: #000000;
		color: #FFFFF;
	}
	25%{
		background: #000000;
		color: #FFFFF;
		font-size: 30px;
	}
	75%{
		background: #000000;
		color: #18C0EA;
		font-size: 30px;
	}
	100%{
		background-color: #1D7BB3;
		color: #00ff15;
	}
}*/