* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  font-family: "Montserrat", Trebuchet MS, Comic sans MS;
  src: url(Montserrat-Regular.ttf);
}
.topheader {
  font-family: Trebuchet ms, comic sans ms;
  background-color: #1d7bb3;
  color: gainsboro;
  height: 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.fbook {
  margin-left: 10px;
  margin-right: 10px;
}
ul {
  list-style-type: none;
}
header {
  display: flex;
  /*position: fixed;*/
  z-index: 4;
  width: 100%;
  background-color: #5ca5cf;
}
a:visited {
  color: #1d7bb3;
}
section {
  width: 100%;
}
.menu {
  display: inline-flex;
  position: relative;
  width: 100%;
  text-decoration: none;
  justify-content: space-evenly;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-left: 22px;
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  overflow: hidden;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    height: 200px;
    align-content: center;
  }
  .body {
    width: 100%;
  }
}
.menu a {
  color: #000000;
  transition: all 0.5s linear;
  background-size: 0 100%;
  padding-bottom: 3px;
  padding-top: 3px;
  text-decoration: none;
}
.logo {
  float: left;
}
.menu a:hover {
  color: #00ff15;
  background: linear-gradient(
      to top,
      rgb(29, 123, 179) 0%,
      rgba(29, 123, 179) 4px,
      transparent 5px
    )
    no-repeat;
  background-size: 100% 100%;
}
@font-face {
  font-family: "Protos";
  src: url(Protos.otf);
}
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-Regular.ttf);
}
.titrepagepresta {
  text-align: center;
  text-transform: uppercase;
  color: #1d7bb3;
  font-family: "Protos", comic sans ms, sans-serif;
  padding: 60px 60px;
  margin-bottom: 60px;
  font-size: 1.8em;
  background: linear-gradient(#86bedf, white);
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.prestaappmobile,
.prestaappweb,
.prestawebsite,
.prestacommunity,
.prestaseo,
.prestaeco {
  text-align: center;
  justify-content: center;
  background: #86bedf;
  border-radius: 5px 5px;
  padding: 15px 15px;
  margin: 20px 28px;
  line-height: 1.8vw;
  font-size: 1.1em;
}
.prestaappweb a,
.prestaappmobile a,
.prestawebsite a,
.prestacommunity a,
.prestaseo a,
.prestaeco a {
  color: #00ff15;
}
.prestaappmobile p,
.prestaeco p,
.prestacommunity p {
  padding: 5px 5px;
  margin: 18px 8px;
}
.prestaappweb p,
.prestawebsite p,
.prestaseo p {
  padding: 5px 5px;
  margin: 18px 8px;
}
.btndevis {
  position: relative;
  text-decoration: none;
  background: #1d7bb3;
  padding: 6px 6px;
  border-radius: 3px 3px;
  transition: all 0.2s linear;
}
.btndevis:hover {
  background: #000;
  font-size: 20px;
}
.imgpiedpresta {
  display: flex;
  justify-content: center;
  margin: 70px 100px;
}
footer {
  background: linear-gradient(#ffffff, #1d7bb3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 14vw;
  margin-top: 10vw;
  order: 6;
  width: 100%;
}
.facebook,
.instagramlogo {
  border-radius: 40%;
  transition: all 0.2s linear;
}
.facebook:hover,
.instagramlogo:hover {
  transform: scale(1.3) rotate(5deg);
}
.facebook img {
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 100%;
}
