* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  font-family: "Montserrat", Trebuchet MS, Comic sans MS;
  src: url(Montserrat-Regular.ttf);
}
.topheader {
  font-family: Trebuchet ms, comic sans ms;
  background-color: #1d7bb3;
  color: gainsboro;
  height: 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.fbook {
  margin-left: 10px;
  margin-right: 10px;
}
ul {
  list-style-type: none;
}
header {
  display: flex;
  /*position: fixed;*/
  z-index: 4;
  width: 100%;
  background-color: #5ca5cf;
}
a:visited {
  color: #1d7bb3;
}
section {
  width: 100%;
}
.menu {
  display: inline-flex;
  position: relative;
  width: 100%;
  text-decoration: none;
  justify-content: space-evenly;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-left: 22px;
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  overflow: hidden;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    height: 200px;
    align-content: center;
  }
  .body {
    width: 100%;
  }
}
.menu a {
  color: #000000;
  transition: all 0.5s linear;
  background-size: 0 100%;
  padding-bottom: 3px;
  padding-top: 3px;
  text-decoration: none;
}
.logo {
  float: left;
}
.menu a:hover {
  color: #00ff15;
  background: linear-gradient(
      to top,
      rgb(29, 123, 179) 0%,
      rgba(29, 123, 179) 4px,
      transparent 5px
    )
    no-repeat;
  background-size: 100% 100%;
}
@font-face {
  font-family: "Protos";
  src: url(Protos.otf);
}
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-Regular.ttf);
}
.quisommesnous {
  text-align: center;
  text-transform: uppercase;
  color: #1d7bb3;
  font-family: "Protos", comic sans ms, sans-serif;
  padding: 60px 60px;
  margin-bottom: 60px;
  font-size: 1.8em;
  background: linear-gradient(#86bedf, white);
}
.notrehistoire {
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 20px;
}
.textehistoire {
  justify-content: left;
  text-align: justify;
  float: left;
  width: 60%;
  margin-left: 50px;
}
.textehistoire p {
  margin: 30px 30px;
  line-height: 3vw;
  font-size: 1.1em;
}
.logohzhistoire {
  position: absolute;
  margin-right: 0px;
  margin-left: 1000px;
}
.titreobjectif {
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 40px 20px;
}
.texteobjectif {
  margin-left: 80px;
  line-height: 3vw;
  font-size: 1.1em;
  width: 85%;
  justify-content: center;
  text-align: justify;
  align-items: center;
  align-content: center;
  align-self: center;
}
.fondbureau {
  display: flex;
  text-align: center;
  margin: auto;
}
.blocqui {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  width: 100%;
}
.lateam {
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 80px 20px;
}
.hakim,
.alexandre,
.abdessamad,
.sullivan,
.yohann,
.sofiane {
  justify-content: center;
  align-content: center;
  text-align: center;
  background: rgb(209, 214, 218);
  margin: 20px 300px 40px 300px;
  padding: 30px 30px;
  border-radius: 7px 7px;
}
.hakim h2,
.alexandre h2,
.abdessamad h2,
.sullivan h2,
.yohann h2,
.sofiane h2 {
  font-family: "Protos", comic sans ms, sans-serif;
  color: #1d7bb3;
}
.fondpiedpage {
  display: flex;
  text-align: center;
  margin: auto;
}
footer {
  background: linear-gradient(#ffffff, #1d7bb3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 14vw;
  margin-top: 10vw;
  order: 6;
  width: 100%;
}
.facebook,
.instagramlogo {
  border-radius: 40%;
  transition: all 0.2s linear;
}
.facebook:hover,
.instagramlogo:hover {
  transform: scale(1.3) rotate(5deg);
}
.facebook img {
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 100%;
}
