* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  font-family: "Montserrat", Trebuchet MS, Comic sans MS;
  src: url(Montserrat-Regular.ttf);
}

.fbook {
  margin-left: 10px;
  margin-right: 10px;
}
ul {
  list-style-type: none;
}

a:visited {
  color: #1d7bb3;
}
section {
  width: 100%;
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    height: 200px;
    align-content: center;
  }
  .body {
    width: 100%;
  }
}

@font-face {
  font-family: "Protos";
  src: url(../Polices/Protos.otf);
}
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-Regular.ttf);
}
.pagecontact {
  text-align: center;
  text-transform: uppercase;
  color: #1d7bb3;
  font-family: "Protos", comic sans ms, sans-serif;
  padding: 60px 60px;
  margin-bottom: 60px;
  font-size: 1.8em;
  background: linear-gradient(#86bedf, white);
}
.h2contacttitre {
  text-align: center;
  text-transform: uppercase;
  padding: 30px 30px;
  font-family: "Montserrat", Trebuchet MS, Comic sans MS;
  src: url(Montserrat-Regular.ttf);
}
.formulaire {
  padding: 60px 60px;
}
.formulaire p {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 1em;
}
.formulaire p label {
  margin: 10px 10px;
}
.formulaire p input {
  font-size: 0.8em;
  padding: 5px 5px;
}
.formulaire textarea {
  font-size: 0.8em;
  padding: 5px 5px;
}
form {
  font-family: "Montserrat", Trebuchet MS, Comic sans MS;
  src: url(Montserrat-Regular.ttf);
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a7e3ff, #5ca5cf);
  width: 100%;
  padding: 25px 30px;
  border-radius: 15px 15px;
  font-size: 1.2em;
}
.btnenvoyer {
  color: #00ff15;
  background: linear-gradient(#000, #1d7bb3);
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  border-radius: 7px 7px;
  padding: 8px 8px;
  text-transform: uppercase;
  width: 100%;
}
.describeproject {
  width: 100%;
}
legend {
  margin: 20px 0 12px 0;
}
fieldset {
  border: 0;
}
.prestbudget {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.prestbudget input {
  margin: 10px 10px;
}
.contactmail {
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.contactmailform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 25px 30px;
  border-radius: 15px 15px;
  font-size: 1.2em;
  margin: 30px 30px;
}
.contactmailform input {
  font-size: 1em;
  padding: 10px 10px;
}
.contactmailform textarea {
  font-size: 0.8em;
  width: 900px;
  height: 300px;
  padding: 10px 10px;
}
.nomformcontact1 {
  display: flex;
  justify-content: left;
  width: 300px;
  margin-left: 0;
}
.nomformcontact {
  display: flex;
  justify-content: left;
  width: 400px;
  margin-left: 0;
}
.emailformcontact1 {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  text-align: right;
  width: 300px;
  margin-right: 0;
}
.emailformcontact {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  text-align: right;
  width: 400px;
  margin-right: 0;
}
form input {
  border-radius: 7px 7px;
}
form textarea {
  border-radius: 7px 7px;
}
.fondmedia {
  display: flex;
  text-align: center;
  margin: auto;
}
footer {
  background: linear-gradient(#ffffff, #1d7bb3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 14vw;
  margin-top: 10vw;
  order: 6;
  width: 100%;
}
.facebook,
.instagramlogo {
  border-radius: 40%;
  transition: all 0.2s linear;
}
.facebook:hover,
.instagramlogo:hover {
  transform: scale(1.3) rotate(5deg);
}
.facebook img {
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 100%;
}
